<div class="page-share">
    <div class="rect">
        <h3>SHARE THIS POST</h3>
        If you liked this post please make sure you 
        <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">share it</a> 
        or follow <a href="https://twitter.com/marcos_placona">@marcos_placona</a> on Twitter.
    </div>
</div>